@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  /*background-color: #362530;*/
  color: #fff;
  font-family: 'Roboto', sans-serif; 
}

@layer components {
    .genre-button {
      @apply btn btn-sm sm:btn-md md:btn-lg lg:btn-lg 
             border-white hover:border-secondary 
             text-white hover:text-secondary 
             w-[90%] sm:w-[40%] md:w-[28%] lg:w-[15%] 
             lg:h-24 m-4;
    }
  }

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.nav-links a {
    color: #ffffff;
}