@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  color: #fff;
  font-family: 'Roboto', sans-serif; 
}

@layer components {
    /* navbar classes */
    .nav-mobile-menu {
      @apply menu menu-sm 
             dropdown-content 
             mt-3 z-[1] p-2 shadow 
             bg-base-200 rounded-box w-52
    }
    .nav-mobile-menu-title {
      @apply nav-title 
             absolute left-1/2 
             transform -translate-x-1/2
    }
    .nav-button {
      @apply btn 
             !bg-base-200 
             hover:!bg-base-300 
             btn-xs sm:btn-sm md:btn-sm lg:btn-md
    }

    /* genre component classes */
    .genre-button {
      @apply btn btn-sm sm:btn-md md:btn-lg lg:btn-lg 
             bg-info
             hover:bg-base-100
             w-[90%] sm:w-[40%] md:w-[28%] lg:w-[15%] 
             lg:h-24 m-4
             justify-start pl-8
             border-0 hover:border hover:border-white;
    }
    .genre-icon-alignment {
      @apply flex flex-row items-center 
             sm:flex-col sm:items-start
    }

    /* Home */
    .home-image {
      @apply w-full h-full 
             object-cover opacity-30
    }
    .home-text-over-image {
      @apply absolute top-1/2 left-1/2 
             transform -translate-x-1/2 -translate-y-1/2
    } 
  }

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.nav-links a {
    color: #ffffff;
}